<header class="site-header">
  {{ if .IsHome }}
  <h1 class="site-title"><a href="{{ "/" | absURL }}">{{ site.Title }}</a></h1>
  {{ else }}
  <p class="site-title"><a href="{{ "/" | absURL }}">{{ site.Title }}</a></p>
  {{ end }}
  {{ with site.Params.tagline }}<p class="tagline">{{ . }}</p>{{ end }}

  <nav class="site-nav">
    {{ range site.Menus.main }}
    <a href="{{ .URL }}">{{ .Name }}</a>
    {{ end }}

    {{ if not site.Params.disableThemeToggle }}
    <button id="theme-toggle" class="theme-toggle" aria-label="Toggle light and dark mode" title="Toggle theme">
      <svg class="moon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path></svg>
      <svg class="sun" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="5"></circle><line x1="12" y1="1" x2="12" y2="3"></line><line x1="12" y1="21" x2="12" y2="23"></line><line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line><line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line><line x1="1" y1="12" x2="3" y2="12"></line><line x1="21" y1="12" x2="23" y2="12"></line><line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line><line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line></svg>
    </button>
    {{ end }}
  </nav>
</header>
<hr class="site-header-divider">
